<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dreampath || Careers</title>
    <link rel="icon" href="images/favicon.png" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.0.2/css/hover-min.css">
    <link rel="stylesheet" href="css/theme.css">
</head>
<body id="interior">
    <header id="header" class="container-fluid">
        <nav id="topNav" class="navbar navbar-fixed-top dark-bg">
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                <i class="fa fa-road"></i>
            </button>
            <a id="mobileLogo" class="hidden-sm-up brandName" href="index.html">Dreampath</a>
            <button id="mobileRight" class="hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                <i class="fa fa-road"></i>
            </button>
            <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                <a id="logo" class="navbar-brand hidden-xs-down brandName" href="index.html">Dreampath<i class="fa fa-road"></i></a>
                <ul id="topbar" class="nav navbar-nav">
                    <li id="navBtn" class="nav-item text-center"><a href="index.html" class="button hvr-glow">Dream Tech</a></li>
                </ul>
            </div>
        </nav>
    </header>
        <main id="contentMain" class="container-fluid">
            <div id="missionRow" class="row">
                <div id="missionCol" class="col-sm-12">
                    <h2 id="mission" class="display-3 text-center">Web Developer</h2>
                </div>
            </div>
            <div id="topCardRow" class="row">
                <div id="cardOne" class="col-sm-6">
                    <div class="card text-center">
                        <div class="card-block">
                            <h2 class="card-title">HTML</h2>
                        </div>
                        <a href="html-resources.html" class="card-link">
                            <img src="images/html.png" class="img-rounded hvr-float-shadow" alt="HTML">
                        </a>
                    </div>
                </div>
                <div id="cardTwo" class="col-sm-6">
                    <div class="card text-center">
                        <div class="card-block">
                            <h2 class="card-title">CSS</h2>
                        </div>
                        <a href="#" class="card-link">
                            <img src="images/css.png" class="img-rounded hvr-float-shadow" alt="CSS">
                        </a>
                    </div>
                </div>
            </div>
            <div id="CardRowTwo" class="row">
                <div id="cardThree" class="col-sm-6">
                    <div class="card text-center">
                        <div class="card-block">
                            <h2 class="card-title">JavaScript</h2>
                        </div>
                        <a href="#" class="card-link">
                            <img src="images/javascript.png" class="img-rounded hvr-float-shadow" alt="JavaScript">
                        </a>
                    </div>
                </div>
                <div id="cardFour" class="col-sm-6">
                    <div class="card text-center">
                        <div class="card-block">
                            <h2 class="card-title">Dreampath</h2>
                        </div>
                        <a href="#" class="card-link">
                            <img src="images/tools.png" class="img-rounded hvr-float-shadow" alt="Dreampath">
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div id="footerWrap" class="container-fluid dark-bg p-t-md">
                <div class="row">
                    <div class="col-sm-12">
                        <nav id="footerNav" class="nav text-center">
                            <a class="nav-link active" href="#">About</a>
                            <a class="nav-link p-l p-b-md " href="#">Employers</a>
                            <a class="nav-link p-l p-b-md " href="#">Developers</a>
                            <a class="nav-link p-l p-b-md " href="#">Contact</a>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
    <script src="js/Chart.min.js"></script>
</body>
</html>