/*-----------base styles-----------*/
@import "_variables";

:focus {
  outline: none; }

body {
  height: 100vh;
  font-family: $font;
  color: $primary-font;
  background: rgba(201, 219, 233, 0.7);
  background: -webkit-linear-gradient($gradient);
  background: -moz-linear-gradient($gradient);
  background: -o-linear-gradient($gradient);
}

a, a:active, a:focus, a:hover {
  color: inherit; }

a:hover {
  text-decoration: underline;
}