$font: ('Open Sans', sans-serif) !default;
$primary-color: #212121 !default;
$primary-font: rgb(95, 105, 122) !default;
$weight: 300 !default;
$gradient: (top, rgba(201, 219, 233, 0.7) 0%, rgba(201, 219, 233, 0.6) 100%);