<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dreampath Theme Options</title>
    <link rel="icon" href="assets/images/favicon.png" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.0.2/css/hover-min.css">
    <link rel="stylesheet" href="assets/css/index.css">
</head>
<body id="interior">
    <header id="header" class="container-fluid">
        <nav id="topNav" class="navbar navbar-fixed-top dark-bg">
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2"></button>
            <a id="mobileLogo" class="hidden-sm-up brandName" href="index.html">Landing Themes</a>
            <button id="mobileRight" class="hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2"></button>
            <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                <a id="logo" class="navbar-brand hidden-xs-down brandName" href="#"><i id="navIconLeft" class="fa fa-road"></i>Landing Page Themes<i id="navIconRight" class="fa fa-road"></i></a>
            </div>
        </nav>
    </header>
    <main id="contentMain" class="container-fluid">
        <div id="overviewTab" class="container p-a-md"></div>
        <div role="tabpanel" class="tab-pane" id="resources">
            <div id="resourcesTab" class="container p-a-md">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">&nbsp;</div>
                            <div class="card-block">
                                <h4 class="card-title">Clouds</h4>
                                <p class="card-text">The Cloud Theme uses the same color scheme as this landing page and features an animated cloud.</p>
                                <a href="#" target="_blank" class="button">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header text-right">In Progress!</div>
                            <div class="card-block">
                                <h4 class="card-title">Space</h4>
                                <p class="card-text">The Space theme features an outter space themed layout with interactive stars.</p>
                                <a href="#" class="button">In Progress!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header text-right">&nbsp;</div>
                            <div class="card-block">
                                <h4 class="card-title">Live Clouds</h4>
                                <p class="card-text">Experimentation with a more advanced animation.</p>
                                <a href="livecloud.html" target="_blank" class="button">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">&nbsp;</div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div id="footerWrap" class="container-fluid dark-bg p-t-md">
            <div class="row">
                <div class="col-sm-12">
                    <nav id="footerNav" class="nav text-center">
                        <a class="nav-link active" href="#">About</a>
                        <a class="nav-link p-l p-b-md " href="#">Employers</a>
                        <a class="nav-link p-l p-b-md " href="#">Developers</a>
                        <a class="nav-link p-l p-b-md " href="#">Contact</a>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
</body>
</html>