<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dreampath || Tech Jobs</title>
    <link rel="icon" href="assets/images/favicon.png" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.0.2/css/hover-min.css">
    <link rel="stylesheet" href="assets/css/cloud.css">
    <script src="assets/js/dreampath.js"></script>
</head>
<body id="interior">
    <header id="header" class="container-fluid">
        <nav id="topNav" class="navbar navbar-fixed-top dark-bg">
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                <i class="fa fa-road"></i>
            </button>
            <a id="mobileLogo" class="hidden-sm-up brandName" href="cloud.html">Dreampath</a>
            <button id="mobileRight" class="hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                <i class="fa fa-road"></i>
            </button>
            <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                <a id="logo" class="navbar-brand hidden-xs-down brandName" href="cloud.html">Dreampath<i class="fa fa-road"></i></a>
                <ul id="topbar" class="nav navbar-nav">
                    <li id="navBtn" class="nav-item text-center"><a href="#" class="button hvr-glow">Tech Jobs</a></li>
                </ul>
            </div>
        </nav>
    </header>
        <main id="contentMain" class="container-fluid">
            <div id="missionRow" class="row">
                <div id="missionCol" class="col-sm-12">
                    <h1 id="mission" class="display-3 text-center">HTML</h1>
                </div>
            </div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#overview" role="tab" data-toggle="tab">Background</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#resources" role="tab" data-toggle="tab">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#jobs" role="tab" data-toggle="tab">Jobs</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="overview">
                    <div id="overviewTab" class="container p-a-md">
                        <h2 class="display-1 nav-tab-titles">Background</h2>
                        <div class="row">
                            <div class="col-sm-6">
                                <figure class="figure">
                                <img src="assets/images/Sir_Timothy_Berners-Lee.jpg" id="STBL" class="img-rounded" data-toggle="tooltip" data-placement="bottom" title="The // in http:// was TimBL's stylistic preference" >
                                    <figcaption class="figure-caption text-right"><a href="https://en.wikipedia.org/wiki/Tim_Berners-Lee" target="_blank">Sir Timothy Berners-Lee</a></figcaption>
                                </figure>
                            </div>
                            <div class="col-sm-6">
                                <h2 class="text-center">Quick Facts</h2>
                                <ul class="quick-facts">
                                    <li>Web Page <a href="https://en.wikipedia.org/wiki/HTML" target="_blank">Markup</a> Language</li>
                                    <li>Authored Primarily by <a href="https://en.wikipedia.org/wiki/Tim_Berners-Lee" target="_blank">Tim Berners-Lee released in 1993</a> at <a href="https://en.wikipedia.org/wiki/CERN" target="_blank">CERN</a></li>
                                    <li>Standards maintained by <a href="http://www.w3.org/standards/webdesign/htmlcss" target="_blank">W3C</a></li>
                                </ul>
                                <div class="text-center m-t-lg">
                                    <figure class="figure">
                                        <div class="text-center"><a href="https://en.wikipedia.org/wiki/Netscape" target="_blank"><img src="assets/images/netscape.png" class="img-rounded"></a></div>
                                        <figcaption class="figure-caption text-right"><a href="https://en.wikipedia.org/wiki/Netscape" target="_blank">Early Web Browser</a></figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div role="tabpanel" class="tab-pane" id="resources">
                        <div id="resourcesTab" class="container p-a-md">
                            <h2 class="display-1 nav-tab-titles">Resources</h2>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-header">
                                            Free
                                        </div>
                                        <div class="card-block">
                                            <h4 class="card-title">W3 Schools</h4>
                                            <p class="card-text">Free learning resource for it's Tryit Editor</p>
                                            <a href="http://www.w3schools.com/html/default.asp" target="_blank" class="button">Learn</a>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            Free (Requires Sign Up)
                                        </div>
                                        <div class="card-block">
                                            <h4 class="card-title">Codecademy</h4>
                                            <p class="card-text">Free learning course on HTML</p>
                                            <a href="https://www.codecademy.com/learn/web" target="_blank" class="button">Learn</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-header">
                                            Premium (Free Trial Available)
                                        </div>
                                        <div class="card-block">
                                            <h4 class="card-title">Lynda</h4>
                                            <p class="card-text">Premium learning resource with vidoes</p>
                                            <a href="http://www.lynda.com/HTML-training-tutorials/224-0.html?utm_source=google&utm_medium=cpc&utm_campaign=l1-US-Search-Web-HTML&cid=l1-us:en:ps:lp:prosc:s88:224:all:google:xct-learn_html&utm_content=65284675986&utm_term=learn%20html&device=c&gclid=CNe-3M2csMkCFc2Cfgod9wIIrQ" target="_blank" class="button">Learn</a>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            Premium (Free Trial Available)
                                        </div>
                                        <div class="card-block">
                                            <h4 class="card-title">Team Treehouse</h4>
                                            <p class="card-text">Diverse HTML Courses</p>
                                            <a href="https://teamtreehouse.com/library/topic:html" target="_blank" class="button">Learn</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="jobs">
                        <div id="jobsTab" class="container p-a-md">
                            <h2 class="display-1 nav-tab-titles">Jobs</h2>
                        </div>
                    </div>
                </div>
        </main>
        <footer>
            <div id="footerWrap" class="container-fluid dark-bg p-t-md">
                <div class="row">
                    <div class="col-sm-12">
                        <nav id="footerNav" class="nav text-center">
                            <a class="nav-link active" href="#">About</a>
                            <a class="nav-link p-l p-b-md " href="#">Employers</a>
                            <a class="nav-link p-l p-b-md " href="#">Developers</a>
                            <a class="nav-link p-l p-b-md " href="#">Contact</a>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
    <script src="assets/js/Chart.min.js"></script>
</body>
</html>