/*----------- User Agent Overrides-----------*/

/* When clicking a link, a blue outline appears by default. This removes that */
:focus{
    outline: none;
}

/*----------- Base Styles -----------*/

*{
    margin: 0;
    padding: 0;
}

html{
    min-height: 100vh;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: rgb(95, 105, 122);
    background: -webkit-linear-gradient(top, rgba(201, 219, 233, 0.7) 0%, rgba(201, 219, 233, 0.6) 100%);
    background: -moz-linear-gradient(top, rgba(201, 219, 233, 0.7) 0%, rgba(201, 219, 233, 0.6) 100%);
    background: -o-linear-gradient(top, rgba(201, 219, 233, 0.7) 0%, rgba(201, 219, 233, 0.6) 100%);
    background: linear-gradient(top, rgba(201, 219, 233, 0.7 ) 0%, rgba(201, 219, 233, 0.6) 100%);
}

footer{
    color: rgb(232, 232, 232);
    bottom: 0;
    position: fixed;
    width: 100%;
}

a, a:active, a:focus{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: underline;
    color: inherit;
}

.quick-facts li {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2.text-center {
    margin-bottom: 2rem;
}

@media (min-width: 34em){
    #navIconLeft{
        padding-right: 1rem;
        vertical-align: middle;
    }
}

/*----------- Layout Styles -----------*/

.media, .media-body{
    overflow: visible;
    zoom: 1;
}

#topNav{
    text-align: center;
}

li.nav-item{
    padding: .7rem .05rem;
}

.nav-item{
    margin-left: 0 !important;
}

.nav-link{
    color: rgb(232, 232, 232);
    padding: 0 1rem;
}

.navbar-toggler{
    color: rgb(201, 219, 233);
    font-size: 2rem;
    margin-right: 1rem;
}

.navbar-toggler:active, .navbar-toggler:visited{
    text-decoration: none;
}

.navbar-brand:focus, .navbar-brand:hover{
    text-decoration: none;
    color: rgb(232, 232, 232);
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: rgb(232, 232, 232) rgb(232, 232, 232) rgb(232, 232, 232);
    background-color: rgb(91, 91, 91);
    color: rgb(232, 232, 232);
}

.nav-tabs .nav-link {
    color: rgb(91, 91, 91);
    border-color: rgb(91, 91, 91) rgb(91, 91, 91) rgb(91, 91, 91);
}

#navBtn {
    float: none !important;
    width: 100%;
}

#navBtn > a {
    width: 100%;
}

.nav-tabs {
    border-bottom: 1px solid rgba(91, 91, 91, .7);
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover, .nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-item.open .nav-link:focus, .nav-tabs .nav-item.open .nav-link:hover{
    color: rgb(232, 232, 232);
    background-color: rgb(91,91, 91);
    border-color: rgb(232, 232, 232);
}

.nav-tabs .nav-item {
    padding: 0;
}

.nav-tab-titles{
    margin-bottom: 2rem;
}

#cardOne .card, #cardTwo .card, #cardThree .card, #cardFour .card {
    border: none;
}



@media (min-width: 544px) {
    #navBtn {
        float: right !important;
        width: initial;
    }
    #navBtn > a{
        width: auto;
    }
}

/*----------- Module Styles -----------*/

.hvr-glow:active, .hvr-glow:focus, .hvr-glow:hover{
    box-shadow: 0 0 10px rgba(255,255,255,.8);
}

.brandName{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.25rem;
    font-weight: 300;
    color: rgb(232, 232, 232);
}

.dark-bg{
    background: rgb(91, 91, 91);
    opacity: 0.7;
}

.dreamIcon{
    font-size: 2.5rem;
    color: rgb(201, 219, 233);
    background: rgb(91, 91, 91);
    opacity: 0.7;
    display: inline-block;
    width: 4rem;
    height: 4rem;
    text-align: center;
    border-radius: 50%;
    padding: 10PX;
}

.media-body{
    padding-left: 1rem;
}

.no-drop:hover {
    cursor: no-drop;

}

.button{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    background: rgb(201, 219, 233);
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    color: rgb(91, 91, 91);
    font-weight: 500;
}

.button:hover, .button:active, .button:focus{
    text-decoration: none;
}

.btn{
    color: rgb(91, 91, 91);
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    background: rgb(201, 219, 233);
    display: inline-block;
    font-weight: 500;
}

/*----------- Theme Styles -----------*/

i.fa.fa-mobile.dreamIcon{
    font-size: 3.5rem;
    padding: 2px;
}

i.fa.fa-lightbulb-o.dreamIcon{
    font-size: 3.1rem;
}

i.fa.fa-paint-brush.dreamIcon{
    font-size: 2.45rem;
}

i.fa.fa-road{
    color: rgb(201, 219, 233);
    padding-left: 0;
}

a#mobileLogo{
    color: rgb(232, 232, 232);
}

@media (min-width: 34em){
    i.fa.fa-road{
        padding-left: 1rem;
        vertical-align: middle;
    }
}

#mobileRight{
    color: rgb(201, 219, 233);
    font-size: 2rem;
    padding: .5rem .75rem;
    line-height: 1;
    background: none;
    border: .0625rem solid transparent;
    border-radius: .25rem;
    margin-left: 1rem;
}

#backgroundCloudAnimation{
    max-width: 100%;
}

#header{
    padding-right: 0;
    padding-left: 0;
}

#mission{
    font-size: 4rem;
    margin-bottom: 2.5rem;
}

#footerWrap{
    min-height: 5rem;

}

#footerBrand nav{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#clouds{
    padding: 0;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

#STBL{
    cursor: text;
}

#resourcesTab .card {
    background: rgb(91,91,91);
    color: rgb(255,255,255);
    border: rgb(255,255,255);
}

#resourcesTab .card-header {
    color: rgb(91,91,91);
}

#cloudHeader{
    left: 0;
    top: 145px;

    -webkit-box-shadow: 15px 25px 35PX -7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 15px 25px 35PX -7px rgba(0, 0, 0, 0.2);
    box-shadow: 15px 25px 35PX -7px rgba(0, 0, 0, 0.2);

    -webkit-animation: cloudanimate 25s linear 0s infinite alternate backwards;
    -moz-animation: cloudanimate 25s linear 0s infinite alternate backwards;
    -o-animation: cloudanimate 25s linear 0s infinite alternate backwards;
}

#interior #contentMain{
    margin: 6rem 0 5rem 0;
}

.cloud{
    width: 200px;
    height: 60px;
    background: rgb(255, 255, 255);
    position: relative;

    box-shadow: inset 5px -9px 5px rgba(201, 219, 233, 1);

    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;

}

.cloud:before, .cloud:after{
    content: '';
    background: rgb(255, 255, 255);
    width: 100px;
    height: 80px;
    position: absolute;
    top: -15px;
    left: 10px;

    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;

    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after{
    width: 120px;
    height: 120px;
    top: -55px;
    left: auto;
    right: 15px;
}

@-webkit-keyframes cloudanimate{
    0% {left: 100%;}
    100% {left: -200px;}
}
@-moz-keyframes cloudanimate{
    0% {left: 100%;}
    100% {left: -200px;}
}
@-o-keyframes cloudanimate{
    0% {left: 100%;}
    100% {left: -200px;}
}

.navbar-brand{
    float: none;
}