<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Great+Vibes|Tangerine:400,700|Clicker+Script|Meddon|Felipa' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/theme.css" />
</head>
<body id="home">
    <div class="container-fluid p-a-0 ">
        <header>
            <nav class="navbar navbar-light bg-faded">
                <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">&#9776;</button>
                <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                    <ul class="nav navbar-nav">
                        <li class="nav-item active"><a class="nav-link" href="#">Band<span class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="#rumours">Rumours</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Record Plant</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Rhiannon</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Live</a></li>
                    </ul>
                </div>
            </nav>
            <div id="jumbo" class="jumbotron m-b-0">
                <h1 id="title"  class="display-3">Rumours</h1>
                <p class="lead">Bootstrap v4.0 template inspired by Fleedwood mac</p>
            </div>
        </header>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 p-r-0 p-l-0">
                <img id="bannerImage" src="images/banner.jpg" width="100%">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <img src="images/rumours.jpg" width="100%" height="auto">
            </div>
            <div id="rumours" class="col-sm-6 module-light">
                <ol id="rumoursSetlist" class=" p-l-3 p-y-2">
                    <li>Second Hand News</li>
                    <li>Dreams</li>
                    <li>Never Going Back Again</li>
                    <li>Don't Stop</li>
                    <li>Go Your Own Way</li>
                    <li>Songbird</li>
                    <li>The Chain</li>
                    <li>You Make Loving Fun</li>
                    <li>I Don’t Want to Know</li>
                    <li>Oh Daddy</li>
                    <li>Gold Dust Woman</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div id="recordGif" class="col-sm-6 p-a-0">
                <img src="images/record.gif" width="100%" height="auto">
            </div>
            <div id="songEmbed" class="col-sm-6">
                <h2 class="text-center tangerine">I Don't Want to Know</h2>
                <div id="audioContainer">
                    <audio controls>
                        <source src="audio/idontwannaknow.mp3" type="audio/mpeg">
                        Error: This record is broken. The chain isn't.
                    </audio>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>