<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Never Break The Chain</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png" >
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Great+Vibes|Tangerine:400,700|Clicker+Script|Meddon|Felipa' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/theme.css" />
</head>
<body id="home">
    <div class="container-fluid p-a-0 ">
        <header>
            <div id="jumbo" class="jumbotron m-b-0">
                <h1 id="title"  class="display-3 text-center">Never Break the Chain</h1>
                <p class="lead text-center">Fleetwood Mac</p>
            </div>
        </header>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 p-r-0 p-l-0">
                <img id="bannerImage" src="images/banner.jpg" width="100%" height="auto">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <img src="images/rumours.jpg" width="100%" height="auto">
            </div>
            <div id="rumours" class="col-sm-6 module-light">
                <ol id="rumoursSetlist" class=" p-l-3 p-y-2">
                    <li id="secondHandNews">Second Hand News</li>
                    <li id="dreams" data-toggle="modal" data-target="#myModal">Dreams</li>
                    <li>Never Going Back Again</li>
                    <li>Don't Stop</li>
                    <li>Go Your Own Way</li>
                    <li>Songbird</li>
                    <li>The Chain</li>
                    <li>You Make Loving Fun</li>
                    <li>I Don’t Want to Know</li>
                    <li>Oh Daddy</li>
                    <li>Gold Dust Woman</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div id="recordGif" class="col-sm-6 p-a-0">
                <img src="images/record.gif" width="100%" height="auto">
            </div>
            <div id="songEmbed" class="col-sm-6">
                <h2 class="text-center tangerine">I Don't Want to Know</h2>
                <div id="audioContainer">
                    <audio controls>
                        <source src="audio/idontwannaknow.mp3" type="audio/mpeg">
                        Error: This record is broken. The chain isn't.
                    </audio>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2></h2>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <iframe width="560px" height="315px" src="https://www.youtube-nocookie.com/embed/p6Fdm3-dnr0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js" crossorigin="anonymous"></script>
    <script>
        $('#secondHandNews').click(function () {
            var src = 'https://www.youtube-nocookie.com/embed/p6Fdm3-dnr0?rel=0&amp;showinfo=0';
            $('#myModal').modal('show');
            $('#myModall iframe').attr('src', src);
        });
        $("#myModal").on('hidden.bs.modal', function (e) {
            $("#myModal iframe").attr("src", $("#myModal iframe").attr("src"));
        });
    </script>
</body>
</html>